// for loading font-awesome icons
$fa-font-path: '~font-awesome/fonts/';
@import '~font-awesome/scss/font-awesome';
/*===========================================
===== Loading Custom Setup of Variables =====
=============================================*/

@import 'vars/typography';
@import 'vars/body';
/*===========================================
========= Loading Bootstrap Styles ==========
=============================================*/

@import '~bootstrap/dist/css/bootstrap.css';
/*===========================================
========= Loading Customize Styles ==========
=============================================*/

// loading variables
@import 'vars/checkbox';
// loading blocks
@import 'blocks/body';
// loading elements
@import 'elements/accordian-toggle';
@import 'elements/checkbox';
$red: red;
$themeBlue: #30a5ff;
$blue: #3366FF;
$black:#000;
$green: rgb(105, 183, 105);
$gray: #999999;
$white: #fff;
$color_2: #444;
$border_color_1: #ccc;
$font_family_1: FontAwesome;
/* Sidebar Styles */
.navbar-custom {
	background: #222;
	border: 0;
	border-radius: 0;
}
.padding0{
	padding: 0 !important;
}
.img-arredondadaSide {
	border-radius: 100%;
	overflow: hidden;
	height: 100px;
	width: 100px;
	background: #d9edf7;
	border: 2px solid #69b769;
	padding: 5px;
	margin-top: 10px;
	margin-left: 5px;
}

.img-arredondadaChat {
	border-radius: 100%;
	overflow: hidden;
	height: 50px;
	width: 50px;
	background: #d9edf7;
}

.tema {
	color: $red;
}

.chat-container {
	width: 400px;
	height: 100%;
	margin: 0 auto;
}

.corStatusFinalizado {
	color: $themeBlue;
}

.corNormal {
	color: $blue;
}

.corStatusNaoFinalizado {
	color: $red;
}

.alinharCentro {
	text-align: center;
}

.user-panel {
	padding: 10px;
	&:before {
		display: table;
		content: " ";
	}
	&:after {
		display: table;
		content: " ";
		clear: both;
	}
	>.image {
		>img {
			width: 45px;
			height: 45px;
		}
	}
	>.info {
		font-weight: 600;
		padding: 5px 5px 5px 15px;
		font-size: 14px;
		line-height: 1;
		>p {
			margin-bottom: 9px;
		}
		>a {
			text-decoration: none;
			padding-right: 5px;
			margin-top: 3px;
			font-size: 11px;
			font-weight: normal;
			>.fa {
				margin-right: 3px;
			}
			>.ion {
				margin-right: 3px;
			}
			>.glyphicon {
				margin-right: 3px;
			}
		}
	}
}

#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	margin-top: -20px;
}

#wrapper.toggled {
	padding-left: 250px;
	#sidebar-wrapper {
		width: 250px;
	}
	#page-content-wrapper {
		position: absolute;
		margin-right: -250px;
	}
}

#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	background: #f5f5f5;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#page-content-wrapper {
	width: 100%;
	position: absolute;
	padding: 15px;
}

.active {
	text-decoration: none;
	background: $themeBlue;
	color: $white !important
}

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		text-indent: 20px;
		line-height: 40px;
		margin-left: -25px;
		a {
			display: block;
			text-decoration: none;
			color: #080808;
			&:hover {
				text-decoration: none;
				background: $themeBlue;
				color: $white
			}
			&:active {
				text-decoration: none;
				background: $themeBlue;
				color: $white
			}
			&:focus {
				text-decoration: none;
				color: $white
			}
			.active {
				text-decoration: none;
				color: $white
			}
		}
	}
	>.sidebar-brand {
		height: 65px;
		font-size: 18px;
		line-height: 60px;
		a {
			color: $gray;
			&:hover {
				color: $white;
				background: none;
			}
		}
	}
}

.logo {
	color: $themeBlue;
	font-size: 36px;
	font-weight: 700;
}

.fa {
	display: inline-block;
	font-family: $font_family_1;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	font-size-adjust: none;
	font-stretch: normal;
	font-feature-settings: normal;
	font-language-override: normal;
	font-kerning: auto;
	font-synthesis: weight style;
	font-variant: normal;
	font-size: inherit;
	text-rendering: auto;
	padding-right: 10px;
}

.containerLogin {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-top: 100px;
	margin-left: auto;
	width: 30%;
}

@media only screen and (max-height: 650px) and (min-width:768px) {
	#sidebar-wrapper {
		width: 250px;
		position: absolute;
		height: 200%;
	}
}

@media only screen and (max-height: 450px) and (min-width:768px) {
	#sidebar-wrapper {
		width: 250px;
		position: absolute;
		height: 160%;
	}
}

@media only screen and (max-height: 1200px) and (min-width:1366px) {
	#sidebar-wrapper {
		width: 250px;
		position: absolute;
		height: 100%;
	}
}

@media (min-width:768px) {
	#wrapper {
		padding-left: 120px;
	}
	#wrapper.toggled {
		padding-left: 0;
		#sidebar-wrapper {
			width: 0;
		}
		#page-content-wrapper {
			position: relative;
			margin-right: 0;
		}
	}
	#sidebar-wrapper {
		width: 250px;
	}
	#page-content-wrapper {
		padding: 20px;
		position: relative;
	}
}

nav.navbar-findcond {
	background: #fff;
	border-color: $border_color_1;
	box-shadow: 0 0 2px 0 #ccc;
	a {
		color: $black;
	}
	ul.navbar-nav {
		a {
			color: $black;
			border-style: solid;
			border-width: 0 0 2px 0;
			border-color: $white;
			&:hover {
				background: #fff;
				border-color: $themeBlue;
			}
			&:visited {
				background: #fff;
			}
			&:focus {
				background: #fff;
			}
			&:active {
				background: #fff;
			}
		}
	}
	li.divider {
		background: #ccc;
	}
	button.navbar-toggle {
		background: $themeBlue;
		border-radius: 2px;
		&:hover {
			background: #999;
		}
		>span.icon-bar {
			background: #fff;
		}
	}
	ul.dropdown-menu {
		border: 0;
		background: #fff;
		border-radius: 4px;
		margin: 4px 0;
		box-shadow: 0 0 4px 0 #ccc;
		>li {
			>a {
				color: $color_2;
				&:hover {
					background: $themeBlue;
					color: $white;
				}
			}
		}
	}
	span.badge {
		background: $themeBlue;
		font-weight: normal;
		font-size: 11px;
		margin: 0 4px;
	}
	span.badge.new {
		background: rgba(255, 0, 0, 0.8);
		color: $white;
	}
}
@media (min-width: 768px) {
	.circle-tile {
		margin-bottom: 30px;
	}
}

.circle-tile {
	margin-bottom: 15px;
	text-align: center;
}

.circle-tile-heading {
	position: relative;
	width: 80px;
	height: 80px;
	margin: 0 auto -40px;
	border: 3px solid rgba(255, 255, 255, 0.3);
	border-radius: 100%;
	color: #fff;
	transition: all ease-in-out .3s;
}
 .dark-blue {
 	background-color: #34495e;
 }

 .green {
 	background-color: #16a085;
 }

 .blue {
 	background-color: #2980b9;
 }

 .orange {
 	background-color: #f39c12;
 }

 .red {
 	background-color: #e74c3c;
 }

 .purple {
 	background-color: #8e44ad;
 }

 .dark-gray {
 	background-color: #7f8c8d;
 }

 .gray {
 	background-color: #95a5a6;
 }

 .light-gray {
 	background-color: #bdc3c7;
 }

 .yellow {
 	background-color: #f1c40f;
 }

 /* -- Text Color Helper Classes */

 .text-dark-blue {
 	color: #34495e;
 }

 .text-green {
 	color: #16a085;
 }

 .text-blue {
 	color: #2980b9;
 }

 .text-orange {
 	color: #f39c12;
 }

 .text-red {
 	color: #e74c3c;
 }

 .text-purple {
 	color: #8e44ad;
 }

 .text-faded {
 	color: rgba(255, 255, 255, 0.7);
 }

 .circle-tile-heading .fa {
 	line-height: 80px;
 }

 .circle-tile-content {
 	padding-top: 50px;
 }

 .circle-tile-description {
 	text-transform: uppercase;
 }

 .text-faded {
 	color: rgba(255, 255, 255, 0.7);
 }

 .circle-tile-number {
 	padding: 5px 0 15px;
 	font-size: 26px;
 	font-weight: 700;
 	line-height: 1;
 }

 .circle-tile-footer {
 	display: block;
 	padding: 5px;
 	color: rgba(255, 255, 255, 0.5);
 	background-color: rgba(0, 0, 0, 0.1);
 	transition: all ease-in-out .3s;
 }

 .circle-tile-footer:hover {
 	text-decoration: none;
 	color: rgba(255, 255, 255, 0.5);
 	background-color: rgba(0, 0, 0, 0.2);
 }
 .date{
    position: relative;
    display: inline-block;
 }
 .card-container.card {
	max-width: 350px;
	padding: 40px 40px;
  }
  
  .btn {
	font-weight: 700;
	height: 36px;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
  }
  
  /*
   * Card component
   */
  
  .card {
	background-color: #F7F7F7;
	/* just in case there no content*/
	padding: 20px 25px 30px;
	margin: 0 auto 25px;
	margin-top: 50px;
	/* shadows and rounded borders */
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }
  
  .profile-img-card {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
  }
  
  /*
   * Form styles
   */
  
  .profile-name-card {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin: 10px 0 0;
	min-height: 1em;
  }
  
  .reauth-email {
	display: block;
	color: #404040;
	line-height: 2;
	margin-bottom: 10px;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  }
  
  .form-signin {
	#inputEmail, #inputPassword {
	  direction: ltr;
	  height: 44px;
	  font-size: 16px;
	}
	input {
	  &[type=email], &[type=password], &[type=text] {
		width: 100%;
		display: block;
		margin-bottom: 10px;
		z-index: 1;
		position: relative;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	  }
	}
	button {
	  width: 100%;
	  display: block;
	  margin-bottom: 10px;
	  z-index: 1;
	  position: relative;
	  -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box;
	}
	.form-control:focus {
	  border-color: rgb(104, 145, 162);
	  outline: 0;
	  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(104, 145, 162);
	  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(104, 145, 162);
	}
  }
  
  .btn.btn-signin {
	/*background-color: #4d90fe; */
	background-color: rgb(104, 145, 162);
	/* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
	padding: 0px;
	font-weight: 700;
	font-size: 14px;
	height: 36px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: none;
	-o-transition: all 0.218s;
	-moz-transition: all 0.218s;
	-webkit-transition: all 0.218s;
	transition: all 0.218s;
	&:hover, &:active, &:focus {
	  background-color: rgb(12, 97, 33);
	}
  }
  
  .forgot-password {
	color: rgb(104, 145, 162);
	&:hover, &:active, &:focus {
	  color: rgb(12, 97, 33);
	}
  }
